{% extends 'web/base.html' %}

{% block title %}
Вхід в особистий кабінет
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Вхід в особистий кабінет</h1>
    <form method="post">
        {% if messages %}
        {% for mess in messages %}
        <div class="alert alert-success"> {{ mess }}</div>
        {% endfor %}
        {% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-outline-warning">Увійти</button>
    </form>
</div>
{% endblock %}