{% extends 'web/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>ProgLab - навчайся просто</h1>

    <div class="image-container">
        <img src="https://itproger.com/img/news/1686328823.jpg"
             alt="Python Books"
             class="img-fluid rounded shadow-sm animated-image"/>
    </div>

    <h3>
        <div class="mt-4">
            <p>ProgLab — це сучасна онлайн курс програмування.
                <br>
                <br>
                Ми фокусуємося на вивченні популярних мов програмування,
                таких як Python та Java, з акцентом на реальні проєкти, які допоможуть швидко застосувати знання
                на практиці.
                <br>
                <br>Навчання відбувається у форматі інтерактивних уроків, з підтримкою досвідчених
                менторів та доступом до спільноти однодумців. ProgLab — твій перший крок до успішної кар’єри
                в IT!</p>
    </h3>
        </div>
        {% endblock %}