{% extends 'web/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
<div class="container text-center mt-4">
    <h1 class="mb-4">ProgLab - навчайся просто</h1>

    <div class="image-container">
        <img src="https://itproger.com/img/news/1686328823.jpg"
             alt="Python Books"
             class="img-fluid rounded shadow-sm animated-image" />
    </div>

    <h3 class="mt-4">ProgLab — це сучасна онлайн школа програмування, яка пропонує практичні курси для початківців
        та тих, хто хоче поглибити свої навички. Ми фокусуємося на вивченні популярних мов програмування,
        таких як Python та Java, з акцентом на реальні проєкти, які допоможуть швидко застосувати знання
        на практиці. Навчання відбувається у форматі інтерактивних уроків, з підтримкою досвідчених
        менторів та доступом до спільноти однодумців. ProgLab — твій перший крок до успішної кар’єри
        в IT!</h3>
</div>
{% endblock %}