{% extends 'web/base.html' %}

{% block title %}Домашня сторінка{% endblock %}

{% block body %}

   <div class="container mt-5">
        <h1 class="text-center mb-4">Чому Python користується популярністю?</h1>
        <p>
            <strong>Простота </strong> в написанні та читанні коду. Python - це мова програмування, яку легко вивчити. Ти зможеш почати писати свої перші прості програми вже з перших уроків.
        </p>
        <p>
            <strong>Швидкість</strong> На перший погляд, це не так вже і важливо, але час розробника - це гроші замовника. Як приклад, написати й розгорнути бекенд на Python можна набагато швидше ніж на будь-якій іншій мові (навіть швидше за Node.js). Тому ринок зацікавлений у Python. Такі гіганти, як  Google, Apple, Netflix, Amazon та інші пишуть саме на цій мові.
        </p>
        <p>
            <strong>Ком’юніті.</strong> Любов до цієї мови зі сторони розробників створила величезну спільноту, яка активно підтримує перспективні проєкти, фреймворки, відповідає на складні питання, та розвиває мову.
        </p>
        <p>
            <strong>Універсальність.</strong> Ця мова на сьогодні є найбільш універсальною: на ній можна вчити програмувати дітей в школах, писати веб-додатки, сервіси, тестувати сайти чи програми, використовувати машинне навчання та програмувати пристрої для Internet Of Things.
        </p>
    </div>

<div class="container">
    <img src="https://assets.ithillel.ua/images/blog/cover/_transform_blogSplash_desktop_2x/Hillel-Blog-PythonBooks.jpg"
         alt="Python Books"
         class="img-fluid rounded" />
</div>
{% endblock %}